@use 'reset' as *;
@use 'mixins' as mix;
@use 'variables' as var;
@use 'functions' as func;
@use 'general' as *;
@use 'publications' as *;
@use 'headlines' as*;
@use 'services' as *;
@use 'partners' as *;
@use 'slider' as *;
@use 'footer' as *;
@use 'header' as *;

.wrapper {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.wrap-bg-color {
    background: var.$gradient-supersoft;
}

.spacer {
    height: 60px;
}


@media(max-width: 1024px){

    .slider {
        &__picture {
            
            &--img {
                width: 100%;
            }
        }
        &__wrapper {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 768px) {
    .logos a:nth-child(n + 7) {
        display: none;

        s .hero {
            font-size: 30px;
        }
    }

}

@media( min-width: 768px ) {
    .logos {
        display: flex;
        flex-wrap: wrap;

        a {
            width: 33.3%;
        }
    }

    .footer {

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;

            &--address {
                display: flex;
            }

            &--street {
                display: flex;
                align-items: center;
            }

            &--law {
                display: flex;
                justify-content: end;
            }

            &--street::after {
                content: '';
                border-radius: 50%;
                width: 6px;
                height: 6px;
                background-color: #B3B3BA;
                margin-left: 10px;
                margin-right: 10px;
            }

            &--contact {
                display: flex;
                align-items: center;
                grid-column: 1 / 3;
                grid-row: 2 /3;
            }

            &--number {
                display: flex;
                align-items: center;
            }

            &--number::before {
                content: '';
                border-radius: 50%;
                width: 6px;
                height: 6px;
                background-color: #B3B3BA;
                margin-left: 10px;
                margin-right: 10px;
            }

            &--number::after {
                content: '';
                border-radius: 50%;
                width: 6px;
                height: 6px;
                background-color: #B3B3BA;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    .desktop-hidden {
        display: none;
    }

    .mobile-hidden {
        display: initial;
    }

    .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }
    .block {
       width: 45%;
    }
    .blocks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        gap:60px;     
    }

    .publications {
        
        &__cards{
            display: grid;
            grid-template-columns: repeat(2,1fr) ;
            gap: 30px;

            &--item{
                overflow: hidden;
            }

            &--item:nth-child(3) {
                grid-column: 1 / 3;
            }
        }
    }

    .header {
        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-top: 50px;
            padding-left: 60px;
            padding-right: 60px;
        }

        &__top-of-head {
            justify-content: flex-start;
            margin: 0;

            &--address {
                display: flex;
                color: #B3B3BA;
            }

            &--tel  {
                display: flex;
                margin-left: 0;
            }
        }

        &__top-of-head > :not(:last-child)::after {
            display: inline-flex;
            content: "";
            align-self: center;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            background-color: #E6E6F0;
            margin-left: 6px;
            margin-right: 6px;
        }

        &__middle {
            margin: 0;
        }

        &__nav {

            &--link {
                color: #FFF;
                font-weight: 700;
            }

            &--link:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    .hero-content {
        &__container-text {
            width: 100%;
        }
    }
    .description {
        &__wrapper {
            padding: 60px;
        }
    }
}

@media (min-width: 1024px) {
    .block{
        width: 28.9%;
    }

    .slider {
        display: flex;
        margin-bottom: 30px;
        justify-content: center;
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
        }
    }

    .publications {

        &__cards {
            grid-template-columns: repeat(3, 1fr);

            &--item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;   
            }

            &--item:nth-child(3) {
                grid-column: 3 / 4;
            }
        }
    }

    .header {
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:15px;
            position: relative;
        }

        &__top-of-head {
            grid-column: end;
        }

        &__nav {
            margin-top: 15px;
            grid-column: end;
            margin-left: auto;
        }

        &__middle {
           position: absolute;
           top: 60px;
           left: 0;
        
        }
    }

    .description {
        padding-top: 60px;
        padding-bottom: 60px;
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            position: relative;
            overflow: hidden;
            
        }
        &__nav {
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-right: 60px;
            
        }
        &__content {
            margin-left: 60px;
            align-self: center;
        }

        &__hr {
            transform: rotate(90deg);
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            margin: 0;
        }
    }
}

@media (min-width:1440px) {
    .block {
        width: 30.3%;
    }

    .slider-wrapper-info {
        .hero {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 1024px) {
    .logos {
        a {
            width: 25%;
        }
    }
}

@media (min-width: 1920px) {
    .wrapper {
        padding-left: 160px;
        padding-right: 160px;
    }

    .block {
        width: 30.8%;
    }

    .logos {
        padding-left: 100px;
        padding-right: 100px;
    }

    .hillel {
        border-top-left-radius: 12px;
    }

    .dlook {
        border-top-right-radius: 12px;
    }

    .ingratek {
        border-bottom-left-radius: 12px;
    }

    .ultimatecard {
        border-bottom-right-radius: 12px;
    }

    .header {
        &__wrapper {
            padding-left: 160px;
            padding-right: 160px;
            margin-left: auto;
            margin-right: auto;
        }
    }

}

