$main-regular: #323264;
$main-alt: #46466E;
$main-soft: #686887;
$accent:#F0145A;
$active-regular: #24A3FF;
$active-hover:#0085FF;
$active-active:#006CCF;
$gradient-red-text: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
$gradient-supersoft: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%)